* {
    padding:0;
    margin:0;
  }
body{
    width: 100vw;
    height: 100vh;
    background: rgb(68,68,255);
    background: linear-gradient(0deg, rgba(68,68,255,1) 18%, rgba(19,19,180,1) 95%);
   
}
#formDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    background: rgb(16,16,36);
    background: linear-gradient(0deg, rgba(16,16,36,1) 18%, rgba(10,10,166,1) 95%);
    width: 20vw;
    height: 70vh;
    border-radius: 10px;
    align-items: center;
    box-shadow: 15px 20px #0000002a;
   
}
form h1{
    color: aliceblue;
    font-size: 25px;
    margin-top: 40px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}
.formChild{
    width: 60%;
    height: 8%;
    border-radius: 5px;
    align-items: center;
    margin: 1vw;
}
#opcao{
    margin-top: 5vw;
}
#btn{
    margin-top: 2.5vw;
    width: 5vw;
    height: 4vh;
    transition: 100ms;
    border-radius: 5px;
}
#btn:active{
  scale: 0.9;
}


input,select{
    text-align: center;
}
#totalValue{
    background-color: rgb(163, 163, 163);
}
.custom-shape-divider-top-1681441613 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.custom-shape-divider-top-1681441613 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 161px;
}

.custom-shape-divider-top-1681441613 .shape-fill {
    fill: #FFFFFF;
}
@media only screen and (max-width: 768px) {
    form{
        width:80vw ;
    }
    #btn{
        width: 15vw;
    }
  }

  @media only screen and (min-width: 600px) {
 /* For tablets: */
    form{
        width:70vw ;
    }
  } 
